<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>FURAWA</title>
	<link rel="stylesheet" href="css/fontello.css">
	<link rel="stylesheet" href="http://localhost\diagramacionpaulaz\public\css/estilos.css">
	<link rel="shortcut icon" href="http://localhost\diagramacionpaulaz/public/images\2012.png" type="image/png">
</head>
 <section id="inicio">
      <div class="header1">
      <ul class="nav">
        <li><a href="http://localhost\diagramacionpaulaz/index.html">Inicio</a></li>
        <li><a href="">Servicios</a>
          <ul>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/crochet.html" target="black">Crochet</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/bordados.html" target="black">Bordado</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/piedras.html" target="black">Pedreria</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/ropa.html" target="black">Vestir</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/bolsos.html" target="black">Tulas</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/calcas.html" target="black">Calcas</a></li>

            </li>
          </ul>
        </li>
        <li><a href="">Acerca de</a>
          <ul>
            <li><a href= "http://localhost\diagramacionpaulaz/views/front/pages/Mision.html" target="black"">Mision</a></li>
            <li><a href=" http://localhost\diagramacionpaulaz/views/front/pages/Vision.html" target="black"">Vision</a></li>
            <li><a href= "http://localhost\diagramacionpaulaz/views/front/pages/concepto.html" target="black"">Concepto</a></li>
            
          </ul>
        </li>
        <li><a href="http://localhost\diagramacionpaulaz/views/admin/forms/contacto.html" target="black"">Contacto</a></li>
      </ul>
    </div>
</section>
<section>

	<form action=""> 
		<h2 style="font-size: 40px; color:#C5B6FD;">CONTACTO</h2>
		<input type="text" name="Nombre" placeholder="Nombre">
		<input type="text" name="Correo" placeholder="Correo">
		<input type="text" name="Telefono" placeholder="Telefono">
		<textarea name="Mensaje" placeholder="Escribe aqui tu Mensaje"></textarea>
		<input type="button" value="ENVIAR" id="boton">
	</form>
		
	</section>	