<!DOCTYPE html>
<html lang="es">
<meta charset="UTF8">
  
  <head>
    <title>Concepto</title>
     <link rel="stylesheet" type="text/css" href="css/estilos.css">
     <link rel="shortcut icon" href="http://localhost\diagramacionpaulaz/public/images\2012.png" type="image/png">
  </head>
  
  <body>
      <section id="inicio">
      <div class="header1">
      <ul class="nav">
        <li><a href="http://localhost\diagramacionpaulaz/index.html">Inicio</a></li>
        <li><a href="">Servicios</a>
          <ul>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/crochet.html" target="black">Crochet</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/bordados.html" target="black">Bordado</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/piedras.html" target="black">Pedreria</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/ropa.html" target="black">Vestir</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/bolsos.html" target="black">Tulas</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/calcas.html" target="black">Calcas</a></li>

            </li>
          </ul>
        </li>
        <li><a href="">Acerca de</a>
          <ul>
            <li><a href= "http://localhost\diagramacionpaulaz/views/front/pages/Mision.html" target="black"">Mision</a></li>
            <li><a href=" http://localhost\diagramacionpaulaz/views/front/pages/Vision.html" target="black"">Vision</a></li>
            <li><a href= "http://localhost\diagramacionpaulaz/views/front/pages/concepto.html" target="black"">Concepto</a></li>
            
          </ul>
        </li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
</section>
       
        <h1>CONCEPTO</h1>
      <h3>
    <p>
  

Sustentarse en dos pilares fundamentales: seriedad y honestidad, basado en un auténtico compromiso de responsabilidad como norma ética en todos nuestros actos.
Alta calidad.
Prestigio 
Excelencia
Responsabilidad social empresaria
Creatividad e innovación.
Trabajo en equipo.
Identidad.
Profesionalismo.
Pasión: comprometidos con el alma y la mente.

	
</p>

	<img src="http://localhost\diagramacionpaulaz/public/images/concepto.png"; width="800px"> 
     </div>

</body>
</html>

          