<!DOCTYPE html>
<html lang="es">
<meta charset="UTF8">
  
  <head>
    <title>Mision</title>
     <link rel="shortcut icon" href="http://localhost\diagramacionpaulaz/public/images\2012.png" type="image/png" />
     <link rel="stylesheet" type="text/css" href="http://localhost\diagramacionpaulaz/public/css/estilos.css">
  </head>
  
  <body>
   <section id="inicio">
      <div class="header1">
      <ul class="nav">
        <li><a href="http://localhost\diagramacionpaulaz/index.html">Inicio</a></li>
        <li><a href="">Servicios</a>
          <ul>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/crochet.html" target="black">Crochet</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/bordados.html" target="black">Bordado</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/piedras.html" target="black">Pedreria</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/ropa.html" target="black">Vestir</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/bolsos.html" target="black">Tulas</a></li>
            <li><a href="http://localhost\diagramacionpaulaz/views/front/pages/calcas.html" target="black">Calcas</a></li>

            </li>
          </ul>
        </li>
        <li><a href="">Acerca de</a>
          <ul>
            <li><a href= "http://localhost\diagramacionpaulaz/views/front/pages/Mision.html" target="black"">Mision</a></li>
            <li><a href=" http://localhost\diagramacionpaulaz/views/front/pages/Vision.html" target="black"">Vision</a></li>
            <li><a href= "http://localhost\diagramacionpaulaz/views/front/pages/concepto.html" target="black"">Concepto</a></li>
            
          </ul>
        </li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
</section>
        <footer>
      
        <h1>MISION</h1>
     
    <p>
  
  Superarnos a nosotros mismos.
  Diseñar joyas para experimentar sensaciones únicas.
  Contar con equipos de diseñadores y maestros orfebres estudiando constantemente para hacer del arte de la joyeria colecciones exquisitas.
  Ayudar a que nuestro equipo use todo su potencial para crear joyas con identidad enalteciendo a quien las usa.
  Continuar produciendo alta calidad con el objetivo de que nuestro sello represente el más alto de los estándares de producción en joyeria.
  El desafió es inspirarnos constantemente e innovar para crear colecciones únicas.
  Inspirar magia y energía a través de nuestras creaciones.

    </p>
     
    </footer>
	<div class="divimg">
        <img src="http://localhost\diagramacionpaulaz/public/images/mision.png"; width="1000px">
         </div>
        

</center>
</body>